<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-if-6 col-md-6 col-sm-6 container justify-content-center card">

            <br>
            <h2>User Info</h2>
            <br>

            <div class="card-body">

                <form th:method="POST" th:action="@{saveUser}" th:object="${us}">

                    <input type="hidden" th:attr="name='id'" th:value="*{id}"/>


                    <div class="form-group">
                        <label>Имя</label>
                        <input type="text" name="name" th:field="*{name}"
                               class="form-control" placeholder="Введите Ваше Имя"/>
                    </div>

                    <div class="form-group">
                        <label>Фамилия</label>
                        <input type="text" name="surname" th:field="*{surname}"
                               class="form-control" placeholder="Введите Вашу Фамилию"/>
                    </div>

                    <div class="form-group">
                        <label>Возраст</label>
                        <input type="number" name="age" th:field="*{age}"
                               class="form-control" placeholder="Введите Ваш Возраст"/>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>